###############################
# HELIUM API                  #
###############################

# This is the name of the application
# This is used in the UI and in the email templates
APP_NAME=Helium

# This is the environment that the application is running in
# This is used to determine if the application should be in debug mode
# local, production, staging, testing
APP_ENV=production

# This is the encryption key that will be used to encrypt the applications cookies etc.
# Run "php artisan key:generate" to generate a new key
APP_KEY=

# This determines if the application should be in debug mode
APP_DEBUG=true

# This is the protocol that will be used to access the API
# This also determines if the API should force HTTPS
# http:// or https://
APP_PROTOCOL=https://

# This is the domain that will be used to access the API
# No trailing slashes, no protocol, with port if needed
# e.g. example.com, localhost:8000
APP_DOMAIN="example.com"

# This is the prefix for the API
# No trailing or leading slashes
APP_PREFIX=api

# This is the URL that will be used to access the API
# No trailing slashes
APP_URL="${APP_PROTOCOL}${APP_DOMAIN}"


###############################
# HELIUM FRONTEND             #
###############################

# This is the domain that will be used to access the helium frontend
# No trailing slashes, no protocol, with port if needed
# e.g. example.com, localhost:3000
FRONTEND_DOMAIN="${APP_DOMAIN}"

# This is the prefix for the helium frontend
# No trailing or leading slashes
FRONTEND_PREFIX=helium

# This is the URL that will be used to access the helium frontend
# No trailing slashes
FRONTEND_URL="${APP_PROTOCOL}${FRONTEND_DOMAIN}"


###############################
# YOUR WEBSITE                #
###############################

# This is the domain that will be used to access your website
# No trailing slashes, no protocol, with port if needed
# e.g. example.com, localhost:3001
WEBSITE_DOMAIN="${APP_DOMAIN}"

# This is the prefix for your website (most websites use no prefix)
# No trailing or leading slashes
WEBSITE_PREFIX=

# This is the URL that will be used to access your website
# No trailing slashes
WEBSITE_URL="${APP_PROTOCOL}${WEBSITE_DOMAIN}"


#################################
# DRIVERS                       #
#################################
BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis


#################################
# DATABASE                      #
#################################
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=helium
DB_USERNAME=
DB_PASSWORD=


#################################
# QUEUE & CACHE                 #
#################################
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379


#################################
# SESSION                       #
#################################
SESSION_LIFETIME=120

# Set to null allow the APP_DOMAIN
# Set to ".yourdomain.com" to allow all subdomains of your domain
# Set to "yourdomain.com" to allow only your domain
SESSION_DOMAIN=".${APP_DOMAIN}"

# Comma separated list of all (sub)domains that Sanctum should use for stateful authentication
SANCTUM_STATEFUL_DOMAINS="${APP_DOMAIN},${FRONTEND_DOMAIN},${WEBSITE_DOMAIN}"


#################################
# MAILER                        #
#################################
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="${APP_NAME} Messenger"


#################################
# FIRST TIME SETUP              #
#################################

# This is the root user email and password
# This user will be able to create new users and manage the application
SUPER_USER_EMAIL=""
SUPER_USER_PASSWORD=""

# This email will be used to register the domain with Let's Encrypt
LETSENCRYPT_EMAIL="admin@example.com"